<html xmlns:th="http://www.w3.org/1999/xhtml" lang="en">
<style>
    form {
        margin:0 auto;
        width:300px
    }
    input {
        margin-bottom:3px;
        padding:10px;
        width: 100%;
        border:1px solid #CCC
    }
    button {
        padding:10px
    }
    label {
        cursor:pointer
    }
    #form-switch {
        display:none
    }
    #register-form {
        display:none
    }
    #form-switch:checked~#register-form {
        display:block
    }
    #form-switch:checked~#login-form {
        display:none
    }
</style>

<form id='login-form' th:action="@{/loginCustomer}" th:object="${customerDTO}" method='post'>
    <table>
        <tr>
            <td width = 200px><input type="text" placeholder="Username" th:field = "*{username}" required></td>

        </tr>
        <tr>
            <td><input type="password" placeholder="Password"  th:field="*{password}" required></td>
        </tr>
        <tr>
            <td>
                <button type='submit'>Login</button>
            </td>
        </tr>

    </table>
    <p th:if="${#fields.hasErrors('username')}" th:errors="*{username}" style = "font-size : 11px; color : red;">Username Error</p>
</form>

<p align = center><b><a th:href="@{/registerPage}">Don't have an account? Sign up now!</a></b></p>

</html>